<div id="main-wrapper">
    <app-header [usuario]="usuarioSession"></app-header>

    <app-sidebar [usuario]="usuarioSession"></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- breadcrumbs -->
            <app-breadcrumbs></app-breadcrumbs>

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>
            
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <!-- <app-footer></app-footer> -->

        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>

<app-modal-img></app-modal-img>