.main{
  height: 100%;
}

#login_bg{
  background: url("../../../assets/images/medical_1.png");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}


.google-btn {
  display: flex;
    justify-content: center;
}
  