<div class="row">
    <div class="col-6">
        <app-donut
                    [titulo]="titulos[0]"
                    [labels]="labels[0]"
                    [data]="data[0]">

        </app-donut>
    </div>
    <div class="col-6">
        <app-donut
                    [titulo]="titulos[1]"
                    [labels]="labels[1]"
                    [data]="data[1]">

        </app-donut>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-donut
                    [titulo]="titulos[2]"
                    [labels]="labels[2]"
                    [data]="data[2]">

        </app-donut>
    </div>
    <div class="col-6">
        <app-donut
                    [titulo]="titulos[3]"
                    [labels]="labels[3]"
                    [data]="data[3]">

        </app-donut>
    </div>
</div>