<div class="row animated fadeIn">
    
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div *ngIf="cargando" class="col-auto text-center alert alert-info mx-auto">
                        <h4 class="alert-heading">Cargando</h4>
                        <i class="fa fa-spin fa-spinner fa-2x"></i>
                        <div class="mb-0">Por favor espere</div>
                    </div>
                    <div class="col-12">
                        <input  type="text" 
                                class="form-control"
                                placeholder="Busca un médico ..."
                                #id_busqueda
                                (keyup)="buscarPorCadena(id_busqueda.value)"

                                >
                    </div>
                </div>

            </div>
        </div>
    </div>

    

    <div *ngIf="!cargando" class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto ml-auto">
                        <button class="btn btn-primary" type="button" (click)="openMedicoForm()">
                            <i class="fa fa-hospital-o"></i>
                            Nuevo Médico 1
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary" type="button" (click)="crearNuevoMedicoLink()">
                            <i class="fa fa-hospital-o"></i>
                            Nuevo Médico 2
                        </button>
                    </div>
                </div>
                <h4 class="card-title">Total: {{totalMedicos}}</h4>
                <h6 class="card-subtitle">Médicos registrados en la app</h6>
                <h6 class="card-subtitle">Current page: {{ page + 1 }}</h6>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped color-table primary-table">
                        <thead >
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Nombre</th>
                                <th>Creado por</th>
                                <th>Hospital</th>
                                <th>Usuario del hospi</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos" >
                                <td class="text-center">
                                    <img    src="{{ medico.imagenMed }}" 
                                            alt="" 
                                            srcset=""
                                            class="mini-img cursor"
                                            (click)="abrirModalImg(medico)"
                                            >
                                </td>
                                <td>
                                    {{medico.nombre}}
                                </td>
                                <td>
                                    <img    src="{{ medico.createdByUser.imagenUsr }}"
                                    class="mini-img-user"
                                    >
                                    {{medico.createdByUser.nombre}}
                                </td>
                                <td>
                                    <img    src="{{ medico.hospital.imagenHospi }}"
                                    class="mini-img-user"
                                    >
                                    {{medico.hospital.nombre}}
                                </td>
                                <td>
                                    <img    src="{{ medico.hospital.createdByUser.imagenUsr }}"
                                    class="mini-img-user"
                                    >
                                    {{medico.hospital.createdByUser.nombre}}
                                </td>
                                <td class="text-nowrap text-center">
                                    <a  class="cursor"
                                        (click)="updateMedico(medico.id)" 
                                        data-toggle="tooltip" 
                                        data-original-title="Edit"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>
                                    <a class="cursor" 
                                        (click)="confirmarBorrado(medico)" 
                                        data-toggle="tooltip" 
                                        data-original-title="Close"> 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>

                                </td>
                            
                        </tbody>
                    </table>
                </div>
                <button *ngIf="page > 0" class="btn btn-secondary" (click)="cambiarPagina(-1)">Anterior</button>
                <button *ngIf="page < maxPages" class="btn btn-secondary mr-3" (click)="cambiarPagina(1)">Sguiente</button>
            </div>
        </div>
    </div>
</div>