<app-central-card
    [title]="title"
    [subtitle]="subtitle"
    [imgPath1]="imgPath1"
    [imgPath2]="imgPath2"
    >
</app-central-card>

<!-- <section class="container allHeighWidth v-a-items">
    <section class="row">
        <section class="col-12 col-md-6 mt-5 mt-md-0">
            <section class="row v-a-items">
                <section class="col-12 text-center">
                    <img id="notFound" src="../../assets/images/error-404.png" alt="" srcset="">
                    <h3 class="text-uppercase">Page Not Found !</h3>
                    <p class="text-muted m-t-30 m-b-30">Ups! Parece que no se encuentra el recurso que buscas, puedes regresar de vuelta al inicio.</p>
                    <a href="index.html" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">
                        Inicio
                    </a>
                </section>
            </section>
        </section>
        <section class="col-12 col-md-6 text-center">
            <img class="img-fluid" id="medicalWrapper" src="../../assets/images/medicalwrapper1.png" alt="" srcset="">
        </section>
        <section class="col-12 text-center mt-4">
            © {{year}} Hospitales App (developed by Juan Daniel García López).
        </section>
    </section>
</section> -->