#notFound{
    max-width: 256px;
}

#medicalWrapper{
    /* max-width: 512px; */
    border-radius: 3%;
}

.v-a-items{
    height: 100%;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 767px) {
    .v-a-items {
        height: 100%;
        display: unset;
    }
}