

.feature{
    padding: 1.25rem;
    background-color: #fafafa;
}

.feature-text{
    font-size: 12px;
}

.card{
    /* height: 100%; */
    /* border-radius: 5px; */
    background-color: unset;
}

/* -------------Carousel imgs------------- */
#myCarousel{
    padding-left: 0px;
    padding-right: 0px;
}
#imgRes1{
	background: url("https://pixabay.com/get/gadae48d0dc41a4217794393821141c1dd04cee4a9f679d780cab71e84af3db15b9f80c010f77a6c08f13f677968a12d6.png");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-color: rgb(51 51 51 / 20%);
    background-blend-mode: multiply;
    height: 300px;
}
#imgRes2{
	background: url("https://pixabay.com/get/gae67234b67290a099dc21f1a6f0eee96294c0a171d0795c69fe4a416037142cf6c3d38b9b20d8ee622f6d39243f06590d63c52cff59fd3e2d10417e15ee0105e_1280.png");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-color: rgb(51 51 51 / 20%);
    background-blend-mode: multiply;
    height: 300px;
}
#imgRes3{
	background: url("https://pixabay.com/get/g2505a311d0a01756cb637e3517340379efcce65fb8cd2c8a9bca234f1d598d5e6a1f01496cb75790e1ff1a61cfab0faa0319355bc89bf3deec67de5182315f41_1280.png");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-color: rgb(51 51 51 / 20%);
    background-blend-mode: multiply;
    height: 300px;
}
.carousel-caption h4, .carousel-caption p{
    color: #fefefe;
}
/* -------------End Carousel imgs------------- */
