

.feature{
    padding: 1.25rem;
    background-color: #fafafa;
}

.feature-text{
    font-size: 14px;
}

.card{
    /* height: 100%; */
    /* border-radius: 5px; */
    background-color: unset;
}

/* -------------Carousel imgs------------- */
#myCarousel{
    padding-left: 0px;
    padding-right: 0px;
}
#imgRes1{
	background: url("../../../assets/images/medical_1.png");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-color: rgb(51 51 51 / 20%);
    background-blend-mode: multiply;
    height: 400px;
}
#imgRes2{
	background: url("../../../assets/images/medical_2.png");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-color: rgb(51 51 51 / 20%);
    background-blend-mode: multiply;
    height: 400px;
}
#imgRes3{
	background: url("../../../assets/images/medical_3.png");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-color: rgb(51 51 51 / 20%);
    background-blend-mode: multiply;
    height: 400px;
}
.carousel-caption h4, .carousel-caption p{
    color: #fefefe;
}
/* -------------End Carousel imgs------------- */
