<div class="row animated fadeIn">
    <!-- Carousel -->
    <div id="myCarousel" class="col-12 carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="cursor active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class="cursor"></li>
            <li data-target="#myCarousel" data-slide-to="2" class="cursor"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="imgRes1"></div>
                <div class="carousel-caption d-block">
                    <h4>Hospitales App</h4>
                    <p>La mejor web app para la gestión de personal clínico</p>
                </div>
            </div>
            <div class="carousel-item">
                <div id="imgRes2"></div>
                <div class="carousel-caption d-block">
                    <h4>Gestiona</h4>
                    <p>Ten el control total para el manejo de la información de tu clínica</p>
                </div>
            </div>
            <div class="carousel-item">
                <div id="imgRes3"></div>
                <div class="carousel-caption d-block">
                    <h4>Análisis</h4>
                    <p>Las herramientas de graficación te ayudarán al análisis de información para la toma de desiciones
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
        </a>
    </div>
</div>

<div class="container animated fadeIn">
    <div class="row">
        <!-- Features -->
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <i class="fa fa-address-card-o fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-12">
                                    <h4 class="text-center">Crea</h4>
                                    <p class="text-center feature-text">Con Hospitales App podrás crear los registros
                                        necesarios para la administraciòn de tu clìnica</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <i class="fa fa-id-badge fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-12">
                                    <h4 class="text-center">Gestiona</h4>
                                    <p class="text-center feature-text">Usa nuestras herramientas de gestión que te
                                        permitirán crear, consultar, editar y/o borrar tus registros previos</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <i class="fa fa-rocket fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-12">
                                    <h4 class="text-center">Transforma</h4>
                                    <p class="text-center feature-text">Lleva la administración de tus registros a otro
                                        nivel</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-12">
                                    <h4 class="text-center">Segura</h4>
                                    <p class="text-center feature-text">Tú información esta 100% segura</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-12">
                                    <h4 class="text-center">Responsive</h4>
                                    <p class="text-center feature-text">Disfruta de todas las herramientas en cualquier
                                        dispositivo gracias a nuestro responsive design</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <i class="fa fa-universal-access fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-12">
                                    <h4 class="text-center">Accecible</h4>
                                    <p class="text-center feature-text">Accede a tu información disponible las 24 horas
                                        sin
                                        restricciones</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- more features -->
        <div class="col-12 mt-5 card">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="../../../assets/images/medical_5.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-12 col-md-8 text-center v-a-middle mt-5 mt-md-0">
                    <h4>Creada y diseñada para amantes del área médica que deseen optimizar su flujo de trabajo</h4>
                </div>
            </div>

        </div>

        <!-- charts -->
        <div class="col-12 mt-5">
            <app-line-chart
                [lineChartLabels]="lineChartLabels"
                [lineChartData]="lineChartData">
            </app-line-chart>
        </div>
    </div>
</div>