<div class="row label-themecolor">
    <div class="col-12 col-md-4 p-5">
        <h3 class="colorTextMain">Acerca de</h3>
        <div class="dropdown-divider"></div>
        <p class="colorTextMain">Hospitales App es una plataforma de gestión de recursos del área médica incluyendo:
            usuarios, hospitales, médicos y mucho más. Prueba hoy mismo el gran potencial con el que cuenta y siente la
            optimización de tu flujo de trabajo</p>
    </div>
    <div class="col-12 col-md-4 p-5">
        <h3 class="colorTextMain">Contacto</h3>
        <div class="dropdown-divider"></div>
        <p class="colorTextMain">Actualmente estamos trabajando en Puebla México para brindarte el mejor servicio que podamos
        </p>
        <a href="https://goo.gl/maps/noGyqL36jsRk6ugY7" target="_blank" class="">
            <i class=" footerLink fa fa-map-marker fa-3x" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-12 col-md-4 p-5">
        <h3 class="colorTextMain">Social</h3>
        <div class="dropdown-divider"></div>
        <div class="row">
            <div class="col-auto">
                <a href="https://facebook.com" target="_blank" class="">
                    <i class=" footerLink fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-auto">
                <a href="https://twitter.com" target="_blank" class="">
                    <i class=" footerLink fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-auto">
                <a href="https://youtube.com" target="_blank" class="">
                    <i class=" footerLink fa fa-youtube-play fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-auto">
                <a href="https://www.linkedin.com/in/juandan/" target="_blank" class="">
                    <i class=" footerLink fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            
        </div>
    </div>

    <div class="col-12 mt-2 text-center colorTextMain">
        © {{year}} Hospitales App by Juan Daniel García López
    </div>
</div>